/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
.env.api-lab
.env.api-demo
.env.api-staging
.env.api-production
.php-cs-fixer.cache
config/ray.php
.vapor
composer.lock
package-lock.json
